    .new-tweet {
        background-color: #eee;
        border-radius: 5px;
        border: 1px solid #a8a8a8;
        width: 90%;
        margin: auto;
        display: none;
    }

    .new-tweet h2 {
        margin-top: 0.3em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 94.5%;
        text-align: left;
        border-bottom: 2px solid black;
    }

    .counter {
        margin-left: 17.5em;
    }

    textarea {
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 95%;
    }

    input {
        margin-left: 0.5em;
        margin-bottom: 1em;
    }

    .tweet {
        overflow: hidden;
        border-radius: 5px;
        border: 1px solid #a8a8a8;
        width: 90%;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        opacity: 0.6;
        transition: opacity 0.2s linear;
        word-wrap: break-word;
    }

    .user-avatar {
        display: inline-block;
        border-radius: 5px;
        float: left;
    }

    .tweet h1 {
        display: inline-block;
        margin: 0%;
        font-size: 1em;
        float: left;
        margin-left: 10px;
    }

    .tweet-header {
        padding: 0.75em;
        background-color: #eee;
        height: 75px;
    }

    .user-handle {
        float: right;
    }

    .tweet-content {
        width: 100%;
        padding: 0.5em;
        text-align: justify
    }

    .tweet-footer {
        border-top: 1px solid #c8cbd1;
        padding: 0.5em;
    }

    .tweet-actions {
        float: right;
        opacity: 0;
        transition: opacity 0.2s linear;
    }

    .tweet-actions i {
        padding-left: 0.3em;
        padding-right: 0.3em;
        color: #4286f4;
    }

    .tweet-timestamp {
        display: inline-block;
        margin-left: -45%;
    }

    +.tweet:hover .tweet-actions {
        opacity: 1;
    }

    .tweet:hover {
        opacity: 1;
    }

    .btn {
        background: #34add9;
        background-image: -webkit-linear-gradient(top, #34add9, #2980b9);
        background-image: -moz-linear-gradient(top, #34add9, #2980b9);
        background-image: -ms-linear-gradient(top, #34add9, #2980b9);
        background-image: -o-linear-gradient(top, #34add9, #2980b9);
        background-image: linear-gradient(to bottom, #34add9, #2980b9);
        -webkit-border-radius: 9;
        -moz-border-radius: 9;
        border-radius: 9px;
        font-family: Courier New;
        color: #ffffff;
        font-size: 20px;
        padding: 17px 19px 17px 19px;
        border: solid #1f628d 2px;
        text-decoration: none;
        float: right;
        margin-top: 0.5%;
    }

    .btn:hover {
        background: #63c3ff;
        background-image: -webkit-linear-gradient(top, #63c3ff, #3498db);
        background-image: -moz-linear-gradient(top, #63c3ff, #3498db);
        background-image: -ms-linear-gradient(top, #63c3ff, #3498db);
        background-image: -o-linear-gradient(top, #63c3ff, #3498db);
        background-image: linear-gradient(to bottom, #63c3ff, #3498db);
        text-decoration: none;
    }

    #tweet-button {

        float: left;
        margin-left: 10px;
    }